/**
 * CSS of ToDo App
 *
 * Blue: #29b6f6
 * Orange: #ff9800
 */

/**
 * HTML elements 
 */

 * {
  box-sizing: border-box;
  font-family: ’Lato’, sans-serif;
  margin: 0; 
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color:black;
  color:black;
  line-height: 0.5;
  margin-top: 14rem;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: ’Merriweather’, serif;
  font-size: 1.375rem;
}

.fo{
  flex: 1; 
}


.ft-legal {
  padding: 0.5rem 0.5rem;
  background-color:black;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;       /* same as flex-grow: 1; */
}

.ft-social {
  padding: 0 0rem 0rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}


input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ft-main {
      justify-content: space-around;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ft-main {
      justify-content: space-evenly;
  }
}


.ft-main {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.ft-main-item {
  padding: 0.5rem;
  min-width: 12.5rem /*200px*/;
}










 body {
  background-color: #fcfcfc;
   padding: 0;
   margin: 0;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

/* footer {
  background-color:black;
  color: white;
  padding: 5px 15px;
  padding-bottom: 19px;
  margin-top: 20rem;
  font-weight: bold;
  width: 100%;
  height: 100%;
 
} */

.foot{
  font-size: x-large;
}
/**
 * Generic Styles 
 */
.orange {
  color: black;
}

.lateral{
  background-color: lightgrey;
  width: 470px;
  border: 5px solid black;
  padding: 20px 20px;
  margin-top: 20px;
}

.title {
  font-size:xx-large;
}

.address{
  color: white;
  font-size: x-large;
}

/* Inspiration: Google material design */
.card {
  background-color: white;
  border-radius: 2px;
  padding: 0 5px 5px 5px;
  
  webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
                     0 1px 5px 0 rgba(0,0,0,0.12), 
                     0 3px 1px -2px rgba(0,0,0,0.2);

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
              0 1px 5px 0 rgba(0,0,0,0.12), 
              0 3px 1px -2px rgba(0,0,0,0.2);
}

.container{
  display: inline-block;
  height: 100%;
  width: 60%;
}

.task-done {
  text-decoration: line-through;
  background-color: #eee;
}

.btn-primary {
  background-color: black;;
  border-color:white
}

.btn-primary:hover {
  background-color:black;
  border-color: black
}

.btn-primary:active {
  background-color: black;
  border-color: black
}

.btn-primary:focus {
  background-color:black!important;
  border-color:black;
}

/**
 * Components 
 */

/* By default the message wrapper is hidden
 * It is displayed only when there is a message
 * to be shown
 */
#message-wrapper {
  display: none;
}

#page-header {;
  margin-top: 0;
  margin-bottom: 25px;
  background: black;
  color: white;
  border-bottom: none;
  width: 100%;
  height: 100%;
  webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
                     0 1px 5px 0 rgba(0,0,0,0.12), 
                     0 3px 1px -2px rgba(0,0,0,0.2);

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
              0 1px 5px 0 rgba(0,0,0,0.12), 
              0 3px 1px -2px rgba(0,0,0,0.2);
}